<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>branch</name>
          <description></description>
          <defaultValue>**</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.1.24-SNAPSHOT">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>ssh://git.analit.net/var/git/$JOB_NAME</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$branch</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>true</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>123</authToken>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec></spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mysqladmin --user=root --port=$(cat data/$JOB_NAME/port) shutdown 2&gt; /dev/null &amp;&amp; sleep 2 || :
git clean -fdx
git submodule foreach git clean -fdx

bake RunMySql path=data randomPort=true
port=$(cat data/$JOB_NAME/port)
port=$(cat data/$JOB_NAME/port)
grep &quot;(Data Source|server)=localhost&quot; src -lRP | xargs perl -i -pe &quot;s/connectionString=\&quot;([^\&quot;]*)?port=\d+;([^\&quot;]*)?\&quot;/connectionString=\&quot;port=&quot;$port&quot;;\1\2\&quot;/gi&quot;
grep &quot;(Data Source|server)=localhost&quot; src -lRP | xargs perl -i -pe &apos;s/(Data Source|server)=localhost/Data Source=localhost;port=&apos;$(cat data/$JOB_NAME/port)&apos;/gi&apos;


bake InstallPackages
bake TryToBuild
bake PrepareLocal Port=$(cat data/$JOB_NAME/port)
bake Migrate Port=$(cat data/$JOB_NAME/port)</command>
    </hudson.tasks.Shell>
    <hudson.tasks.BatchFile>
      <command>bake integration notInteractive=true</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.Shell>
      <command>git checkout .
git submodule foreach git checkout .
mysqladmin --user=root --port=$(cat data/$JOB_NAME/port) shutdown</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.nunit.NUnitPublisher plugin="nunit@0.14">
      <testResultsPattern>TestResult*.xml</testResultsPattern>
      <debug>false</debug>
      <keepJUnitReports>false</keepJUnitReports>
      <skipJUnitArchiver>false</skipJUnitArchiver>
    </hudson.plugins.nunit.NUnitPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.24.1">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>
